header{
    background: linear-gradient(to right,#69C0FF,#2D84C3 ) ;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #2d84c3 3px solid;
}
header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 15px;
}

header ul{
    margin: 0;
    padding: 0;
}

header ul li{
    float: left;
    display: inline;
    padding: 0 15px 0 15px;

}
header #logo{
    float: left;
    top: auto;
     position: absolute;
}

header nav{
    float: right;
    list-style: none;
    margin-top: 10px;

}

  ul li {
    display: inline-block;
    margin-right: 3px;
}
ul li a {
    text-decoration: none;
    color: rgba(225,255,255,0.75) ;
    padding: 5px 0.2px;
    transition: 0.5% ease;
}

ul li a:hover{
    color:  rgba(255,255,255,1) ;
}

ul li a.active{
    border-bottom: 2px solid cornflowerblue;
    color:#2D84C3 ;
}

ul li a.SIGNIN{
    border: 1px solid #fff ;
    padding: 2px 20px;
    border-radius: 90px;
}

ul li a.SIGNIN:hover{
 background-color: #fff;
    color:cornflowerblue;
}
body{
margin: 0;
padding: 0;
font-family: sans-serif;
background: url(wallpaper.jpg);
background-size: cover;
}

.box {
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%,-50%);
width: 400px;
padding: 40px;
background: rgba(101,174,229,.8);
box-sizing: border-box;
box-shadow: 0 15px 25px rega(0,0,0,.5);
border-radius: 10px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputbox
{
  position: relative;
}

.box .inputbox input
{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box .inputbox label
{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 12px;
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}



 .box input[type="submit"]
 {
    background-color: #4c1876;
  border: none;
  color: white;
  padding: 7px 35px;
  text-align: center;
  font-size: 16px;
  margin: 1px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    border-radius: 90px;
 }
.box input[type="submit"]:hover{opacity: 1
    
}

.box a.signup{
  background-color: #4c1876;
  border: none;
  color: white;
  padding: 7px 27px;
  text-align: center;
  font-size: 16px;
  margin: 1px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    border-radius: 90px;
}

.box a.signup:hover {opacity: 1}


